version: 2.1
executors:
  default:
    docker:
      - image: cimg/python:3.12
commands:
  restore:
    steps:
      - checkout
      - restore_cache:
          keys:
            - pip-{{ checksum "requirements.txt" }}-{{ checksum "requirements.test.txt" }}
jobs:
  venv:
    executor: default
    steps:
      - restore
      - run: make venv
      - save_cache:
          key: pip-{{ checksum "requirements.txt" }}-{{ checksum "requirements.test.txt" }}
          paths:
            - .venv
  lint:
    executor: default
    steps:
      - download
      - run: make lint
  test:
    executor: default
    environment:
      USER: bogus-string
    steps:
      - download
      - run: make test
  build:
    executor: default
    steps:
      - download
      - run: make build
workflows:
  version: 2
  default:
    jobs:
      - venv
      - lint:
          requires:
            - venv
      - build:
          requires:
            - venv
            - test
      - test:
          requires:
            - venv
