name: main-release
on:
  push:
    branches:
    - main
jobs:
  main-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: |
          uv.lock
          .python-version
    - run: uv sync --frozen
      shell: bash
    - run: make lint
      shell: bash
    - run: make test
      shell: bash
    - run: make build
      shell: bash
