name: test
on:
  pull_request: {}
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - run: uv sync --frozen
      shell: bash
    - run: make lint
      shell: bash
    - run: make test
      shell: bash
    - run: make build
      shell: bash
